cnsUrl=
server.port=8080
dev=true
root_path=C:\\Dev_Repos\\ss\\
sqlite_dir_db_file_name=dir.db
sqlite_notif_db_file_name=notif.db
db_max_retry_times=2
db_retry_interval=50
dropbox_call_retry_times=3
dropbox_token_file_name=dbx_token.txt
dropbox_cursor_file_name=dbx_cursor.txt